@font-face {
   font-family: 'Kaushan Script';
   font-style: regular;
   font-display: swap;
   font-weight: 400;
   src: url('file:///C:/Users/core/Desktop/CODING%20ZONE/Mobi%20projects/fonts/Kaushan Script/regular.ttf') format('truetype');
}
